{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baabtra.com</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-1">
    <div class="nav-bar">
        <div class="navi-img">
            <img src="{% static 'images/logo.jpg' %}" alt="" width="170px">
            </div>
            <div class="navi-list">
            <ul>
                <li><a href="">Programs</a></li>
                <li><a href="placements">placements</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="enquire"><button class="btn-1">Enquire Now</button></a></li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="bl">
        <p class="plcmnt-p1">Blog</p>
        <p class="plcmnt-p2">HOME/BLOG</p>
    </div>
    <div class="blog">
        <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/blog-1.png' %}" width="300px" alt="">
            <p class="vishnu">Oct 22, 2022</p>
            <p class="vishnu">Career Opportunities in Python
            </p>
            <button class="btn-blog">Read More</button>

        </div>
        </div>
        <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/blog-2.png' %}"  width="300px"   alt="">
            <p class="vishnu">Oct 22, 2022 </p>
            <p class="vishnu">The Best Futuristic Career Options and Opportunities in the Software Industry</p>
            <button class="btn-blog1">Read More</button>

        </div>
        </div>
        <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/blog-3.png' %}"  width="300px" height="200px"   alt="">
            <p class="vishnu">Oct 22, 2022 </p>
            <p class="vishnu">Angular vs Flutter: Which is Better?
            </p>
            <button class="btn-blog">Read More</button>
        </div>
        </div>
        </div>
    <div class="blog">
        <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/blog-4.png' %}" width="300px" height="200px" alt="">
            <p class="vishnu">Dec 01, 2021</p>
            <p class="vishnu">Baabtra Digital Fest 2022</p>
            <button class="btn-blog">Read More</button>

        </div>
        </div>
        <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/blog-5.png' %}"  width="300px" height="200px"  alt="">
            <p class="vishnu">Dec 01, 2021 </p>
            <p class="vishnu">The IT Sector In Kerala And The Progress Boom In Its Job Opportunities
            </p>
            <button class="btn-blog1">Read More</button>
        </div>
        </div>
        <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/blog-6.png' %}"  width="300px" height="200px"   alt="">
            <p class="vishnu">Dec 01, 2021 </p>
            <p class="vishnu">The Perks of Learning Python as a Programming Language
            </p>
            <button class="btn-blog">Read More</button>

        </div>
        </div>
        </div>
        <section class="sctn-5">
            <div class="about">
                <div class="about-box">
                    <div class="box-text">
                        <h3 class="cmpny">About Us</h3>
                        <p>Baabtra, the best software training company in<br /> Calicut has proved its expertise by training and <br /> placing several hundreds of students both in <br /> MNC’s like UST Global, Infosys, Oracle etc and <br />  SME’s like Nucore Software Solutions, Sesame, <br /> IOSS, ULTS. </p>
                    </div>
                    </div>
                    <div class="company">
                        <p class="cmpny">Company</p><br />
                        <p>About Us</p>
                        <p>Placements</p>
                        <p>Testimonials</p>
                        <p>Gallery</p>
                        <p>Contact Us</p>
                </div>
                <div class="course">
                    <p class="cmpny">Courses</p><br />
                    <p>Python</p>
                    <p>Flutter</p>
                    <p>Angular</p>
                    <p>PHP</p>
                </div>
                <div class="contact">
                    <p class="cmpny">Contact</p><br />
                    <p>+91 859205844</p>
                    <p>info@baabtra.com</p>
                    <p>CAFIT Square, 5th Floor, HiLite <br />Business Park, Thondayad  <br />Bye-Pass, Hilite City, Calicut, <br /> Kerala, India.
                    </p>
                </div>
            </div>
          </section>
          <section class="sctn-6">
            <div class="footer">
                <div class="footer-img">
                    <img src="{% static 'images/logo-footer.png' %}" alt="" width="170px">
                </div>
                <div class="footer-txt">
                    <p>Copyright reserved to Baabtra. Proudly Crafted by Dataroots Tech.</p>
                </div>
            </div>
          </section>
    
</body>
</html>