{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baabtra.com</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-1">
    <div class="nav-bar">
        <div class="navi-img">
            <img src="{% static 'images/logo.jpg' %}" alt="" width="170px">
            </div>
            <div class="navi-list">
            <ul>
                <li><a href="">Programs</a></li>
                <li><a href="placements">placements</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="enquire"><button class="btn-1">Enquire Now</button></a></li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="bl">
        <p class="plcmnt-p1">Join Us Now</p>
        <p class="plcmnt-p2">HOME/CONTACT</p>
    </div>
    <div class="enquire">
        <p class="enquire-p1">CHASE YOUR DREAMS</p>
        <p class="enquire-p2">Register Now
        </p>
        <p class="reg">We offer Python Training with Django Framework, PHP Training with<br /> Laravel Framework, Angular Training and Flutter Training.</p>
    </div>
    <div class="form">
        <div class="rght-txt">
            <h1>Email Us</h1>
            <p class="mail">info@baabtra.com</p><br />
            <h1>Make a Call</h1>
            <p class="mail">+91 859 205 8444
            </p><br />
            <h1>Corporate Office
            </h1>
            <p class="mail">CAFIT Square, 5th Floor, HiLite<br /> Business Park, Thondayad Bye-<br /> Pass, Hilite City, Calicut, Kerala,<br />  India</p>
        </div>
        <div class="reg-from">
            <h1>You're just a step away</h1>
            <p>Getting a software job is so easy with our internship program. Join now</p>
            <form action="">
                <label class="label" for="">Name</label><br />
                <input  class="inpt" type="text"><br /><br />
                <label class="label" for="">Phone</label><br />
                <input  class="inpt" type="number"><br /><br />
                <label class="label" for="">Email</label><br />
                <input  class="inpt" type="email"><br /><br />
                <label class="label" for="">Last completed course </label><br />
                <input  class="inpt" type="text"><br /><br />
                <label class="label" for="">Which technology would you like to learn </label><br />
                <input  class="inpt" type="text"><br /><br />
                <button class="btn-sbmt">Submit</button>
            </form>
            <p class="frm-p"> Do not submit confidential information such as credit card details, Mobile and ATM PINs,<br /> account passwords, etc. <a href="">Report Abuse</a></p>
            <p class="powered">powered By</p>
            <img class="img-img1" src="{% static 'images/forms.png' %}" width="200px" height="50px" alt="">
        </div>
    </div>
    <div class="enq">
        <div class="content">
            <p class="p1-nwsltr">NEWSLETTER</p>
            <P class="p2-join">Join our community of<br /> students</P>
        </div>
        <button class="brow">Download Brochure</button>
    </div>
    <section class="sctn-5">
        <div class="about">
            <div class="about-box">
                <div class="box-text">
                    <h3 class="cmpny">About Us</h3>
                    <p>Baabtra, the best software training company in<br /> Calicut has proved its expertise by training and <br /> placing several hundreds of students both in <br /> MNC’s like UST Global, Infosys, Oracle etc and <br />  SME’s like Nucore Software Solutions, Sesame, <br /> IOSS, ULTS. </p>
                </div>
                </div>
                <div class="company">
                    <p class="cmpny">Company</p><br />
                    <p>About Us</p>
                    <p>Placements</p>
                    <p>Testimonials</p>
                    <p>Gallery</p>
                    <p>Contact Us</p>
            </div>
            <div class="course">
                <p class="cmpny">Courses</p><br />
                <p>Python</p>
                <p>Flutter</p>
                <p>Angular</p>
                <p>PHP</p>
            </div>
            <div class="contact">
                <p class="cmpny">Contact</p><br />
                <p>+91 859205844</p>
                <p>info@baabtra.com</p>
                <p>CAFIT Square, 5th Floor, HiLite <br />Business Park, Thondayad  <br />Bye-Pass, Hilite City, Calicut, <br /> Kerala, India.
                </p>
            </div>
        </div>
      </section>
        
    

