{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baabtra.com</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-1">
    <div class="nav-bar">
        <div class="navi-img">
            <img src="{% static 'images/logo.jpg' %}" alt="" width="170px">
            </div>
            <div class="navi-list">
            <ul>
                <li><a href="">Programs</a></li>
                <li><a href="placements">placements</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="enquire"><button class="btn-1">Enquire Now</button></a></li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="bl">
        <p class="plcmnt-p1">Gallery</p>
        <p class="plcmnt-p2">HOME/GALLERY</p>
    </div>
    <section class="success">
        <div class="succ">
            <p class="succ-p1">Gallery</p>
            <p class="succ-p2">SPECIAL MOMENTS</p>
        </div>
    </section>
    <div class="blog">
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-1.png' %}" width="400px" alt="">
        </div>
        </div>
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-2.png' %}"  width="400px"   alt="">
        </div>
        </div>
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-3.png' %}"  width="400px" alt="">
        </div>
        </div>
        </div>
    <div class="blog">
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-4.png' %}" width="400px" alt="">
        </div>
        </div>
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-5.png' %}"  width="400px"   alt="">
        </div>
        </div>
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-6.png' %}"  width="400px" alt="">
        </div>
        </div>
        </div>
    <div class="blog">
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-7.png' %}" width="400px" alt="">
        </div>
        </div>
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-8.png' %}"  width="400px"   alt="">
        </div>
        </div>
        <div class="gallery">
        <div class="blog-img">
            <img src="{% static 'images/gallery-9.png' %}"  width="400px" alt="">
        </div>
        </div>
        </div>
        <div class="oray">
            <div class="content">
                <p class="p1-nwsltr">NEWSLETTER</p>
                <P class="p2-join">Join our community of<br /> students</P>
            </div>
            <button class="brow">Download Brochure</button>
        </div>
        <section class="sctn-5">
            <div class="about">
                <div class="about-box">
                    <div class="box-text">
                        <h3 class="cmpny">About Us</h3>
                        <p>Baabtra, the best software training company in<br /> Calicut has proved its expertise by training and <br /> placing several hundreds of students both in <br /> MNC’s like UST Global, Infosys, Oracle etc and <br />  SME’s like Nucore Software Solutions, Sesame, <br /> IOSS, ULTS. </p>
                    </div>
                    </div>
                    <div class="company">
                        <p class="cmpny">Company</p><br />
                        <p>About Us</p>
                        <p>Placements</p>
                        <p>Testimonials</p>
                        <p>Gallery</p>
                        <p>Contact Us</p>
                </div>
                <div class="course">
                    <p class="cmpny">Courses</p><br />
                    <p>Python</p>
                    <p>Flutter</p>
                    <p>Angular</p>
                    <p>PHP</p>
                </div>
                <div class="contact">
                    <p class="cmpny">Contact</p><br />
                    <p>+91 859205844</p>
                    <p>info@baabtra.com</p>
                    <p>CAFIT Square, 5th Floor, HiLite <br />Business Park, Thondayad  <br />Bye-Pass, Hilite City, Calicut, <br /> Kerala, India.
                    </p>
                </div>
            </div>
          </section>