{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placements</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-1">
        <div class="nav-bar">
            <div class="navi-img">
                <img src="{% static 'images/logo.jpg' %}" alt="" width="170px">
                </div>
                <div class="navi-list">
                <ul>
                    <li><a href="">Programs</a></li>
                    <li><a href="placemennt">placements</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <li><a href="enquire"><button class="btn-1">Enquire Now</button></a></li>
                </ul>
            </div>
        </div>
        </nav>
        <div class="placement">
            <p class="plcmnt-p1">Placements</p>
            <p class="plcmnt-p2">HOME/PLACEMENTS</p>
        </div>
        <section class="plcmnt-service">
            <div class="service">
                <p class="srvc-p1">THE INDUSTRIAL BEST</p>
                <p  class="srvc-p2">Placement Service</p>
                <p class="srvc-p3">Baabtra has helped 1000+ freshers in Kerala to start their career as a software developer/programmer both in MNC’s like Oracle, UST Global, Infosys, <br />Cognizant etc and SME’s through our training/internship programs. Baabtra work as recruitment partner for many IT Companies in hiring entry level<br />talented programmers. Some of such companies are SRIT India Pvt Ltd, Sesame, Nucore, Limenzy Technologies, Xpertcube, Vinam Solutions, IOSS,<br /> Zoondia, Minimalister, Wiinnova, Software Associates, Limner Consulting LLP, ihits technologies,HyperBlox India Pvt.Ltd, BrainBox, Kaiser Haus etc.</p>
            </div>
        </section>
        <section class="success">
            <div class="succ">
                <p class="succ-p1">OUR PLACED</p>
                <p class="succ-p2">Success Stories</p>
            </div>
            <div class="place">
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/vishnu.png' %}" alt="">
                    <h3>Vishnu lekshman</h3>
                    <p class="vishnu">Full stach Developer,</p>
                    <p class="vishnu">QIZO</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/achanya.png' %}" alt="">
                    <h3>Achanya Anil</h3>
                    <p class="vishnu">Web Developer Trainee,</p>
                    <p class="vishnu">Limenzy</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/raashidah.png' %}" alt="">
                    <h3>Raahshidah p</h3>
                    <p class="vishnu">Associate Web  Developer,</p>
                    <p class="vishnu">SRIT</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/abhijith.png' %}" alt="">
                    <h3>Abhijith Suresh</h3>
                    <p class="vishnu">Java Developer,</p>
                    <p class="vishnu">CCTS Global</p>
                </div>
                </div>
                </div>
            <div class="place">
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/athul.png' %}" alt="">
                    <h3>Athul T</h3>
                    <p class="vishnu">Python Developer Trainee,</p>
                    <p class="vishnu">Cybrosys</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/sreshma.png' %}" alt="">
                    <h3>Sreeshma Gopinath</h3>
                    <p class="vishnu">Web Developer Trainee,</p>
                    <p class="vishnu">Limenzy</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/raashidah.png' %}" alt="">
                    <h3>Raahshidah p</h3>
                    <p class="vishnu">Jr. programmer,</p>
                    <p class="vishnu">Limenzy</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/vishnuvs.png' %}" alt="">
                    <h3>Vishnu VS</h3>
                    <p class="vishnu"> Software Developer Trainee,</p>
                    <p class="vishnu">WebEdz</p>
                </div>
                </div>
                </div>
                <div class="place">
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/ashna.png' %}" alt="">
                    <h3>Ashna</h3>
                    <p class="vishnu">Software Trainee,</p>
                    <p class="vishnu">Techgebra</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/abhishek.png' %}" alt="">
                    <h3>Abhishek C</h3>
                    <p class="vishnu">Jr. Software Engineer,</p>
                    <p class="vishnu">Logiology</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/varna.png' %}" alt="">
                    <h3>Varna K</h3>
                    <p class="vishnu">Flutter Developer,</p>
                    <p class="vishnu">Inindia tech</p>
                </div>
                </div>
                <div class="place-box">
                <div class="place-img">
                    <img src="{% static 'images/nehala.png' %}" alt="">
                    <h3>Nehala M</h3>
                    <p class="vishnu">Software Developer,</p>
                    <p class="vishnu">acemer</p>
                </div>
                </div>
                </div>
                <div class="oray">
                    <div class="content">
                        <p class="p1-nwsltr">NEWSLETTER</p>
                        <P class="p2-join">Join our community of<br /> students</P>
                    </div>
                    <button class="brow">Download Brochure</button>
                </div>
        </section>
      <section class="sctn-5">
        <div class="about">
            <div class="about-box">
                <div class="box-text">
                    <h3 class="cmpny">About Us</h3>
                    <p>Baabtra, the best software training company in<br /> Calicut has proved its expertise by training and <br /> placing several hundreds of students both in <br /> MNC’s like UST Global, Infosys, Oracle etc and <br />  SME’s like Nucore Software Solutions, Sesame, <br /> IOSS, ULTS. </p>
                </div>
                </div>
                <div class="company">
                    <p class="cmpny">Company</p><br />
                    <p>About Us</p>
                    <p>Placements</p>
                    <p>Testimonials</p>
                    <p>Gallery</p>
                    <p>Contact Us</p>
            </div>
            <div class="course">
                <p class="cmpny">Courses</p><br />
                <p>Python</p>
                <p>Flutter</p>
                <p>Angular</p>
                <p>PHP</p>
            </div>
            <div class="contact">
                <p class="cmpny">Contact</p><br />
                <p>+91 859205844</p>
                <p>info@baabtra.com</p>
                <p>CAFIT Square, 5th Floor, HiLite <br />Business Park, Thondayad  <br />Bye-Pass, Hilite City, Calicut, <br /> Kerala, India.
                </p>
            </div>
        </div>
      </section>
        
</body>
</html>